nav {
  background-color: black;
  justify-content: space-around;
  
}
nav a {
  text-decoration: none;
  margin: 10px;
  font: size 20px;
  color: white;
}
.logo-img{
  margin: 0;
}
.login {
  margin: 0;
}

nav:first-child {
  display: flex;
  
  margin-bottom: 2em;
}

#horizontal-underline {
  position: absolute;
  left: 0;
  height: 6px;
  width: 0;
  top: 0;

  border-radius: 3px;
  transition: 0.5s;
  background-color: #7300e9;
}



/* img {
  padding: 20px;
} */

/* main */

.bg {
  width: 100%;
  opacity: 1;
}
.main-film {
  margin: 0;
  padding: 0;
}
.main-film-img {
  position: relative;
  width: 30%;
  height: 30%;
  top: 700px;
  left: 100px;
  bottom: 400px;
  font-size: 50px;
}

.play-btn {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  bottom: 150px;
  left: 120px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}
.play-btn img {
  padding: 10px;
}
/* 캐러셀 시작 */

.carousel-inner{
  display: flex;
}