@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    color: #333333;
    font-size: 0.95em;
    letter-spacing: -0.01em;
}
a{
    text-decoration: none;
    color: #333333;
   }

nav ul {
    list-style: none;
    }
table{
    border-collapse:collapse;
    }

    /* header 관련 스타일*/
    header{
        background-color: lightblue;
        height: 120px;
    }
    .container{
        width: 100%;
        max-width:1200px;
        margin: auto;
        padding: 0 10px;
    }

   header h1{
    float: left;
    margin-top: 10px;
   }
   
   #header_right{
    float: right;

    }

    #gnb {
        margin-top: 10px;
        float: right;
    }

    #gnb > ul > li {
        float: left;
        margin-left: 20px;
        border: 1px solid white;
        box-sizing: 6px;
        padding: 3px 5px;
         }
    
    #gnb a {
        color: white;
    }
    .gnb_sub{
         display:none; 
         position: absolute;
         width: 100px;
        padding: 4px 5px;

        }
        .gnb_sub a{
            display: block;
            text-align:right;

         }
         
       .gnb_main:hover > .gnb_sub{
        display: block;
        }

    #lnb{
        clear: both;
    }
