* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../resource/타자게임.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  position: relative;
  width: 90%;
  height: 80%;
}
#input {
  width: 180px;
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 10px;
  border: none;
}
.word {
  color:black;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
}
