.carousel-item {
  height: 400px;
}

.item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#item1 {
  background-image: url(../css/img/guitar.jpg);
}

#item2 {
  background-image: url(../css/img/course5.jpg);
}

#item3 {
  background-image: url(../css/img/cooking.jpg);
}
.intro h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 18px;
}
.intro h3 {
  font-size: 22px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 48px;
}
.intro a {
  background-color: #5900e7;
  border-radius: 5px;
  padding: 10px 30px;
  color: #ffffff;
  font-weight: 300;
}
.intro {
  position: absolute;
  bottom: 25px;
}
.container {
  margin-top: 50px;
}
.course-img {
  width: 100%;
}
.course {
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.course:hover {
  text-decoration: underline;
}
.course .info {
  padding: 10px;
}
.lecture > img {
  width: 20px;
  height: 20px;
}
.course .info h4 {
  font-size: 18px;
  color: #4a4a4a;
  margin: 0 0 10px;
}
.course .info .lecture {
  font-size: 13px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
