* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  /* background-image: url(../img/img_visual01.jpg); */
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  /* background-size: cover; */
}

.container-fluid {
  margin: 0;
  margin-top: 0;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}
.navbar-brand {
  font-weight: 700px;
}
.main-img {
  border-radius: 0 0 80px 0;
}
img.main-font {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.main-font-p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  font-size: 1vw;
}
.main-btn {
  display: block;
  margin: auto;
  top: 80%;
  left: 45%;

  border-radius: 30px;
  border-color: #ffffff;

  background-color: transparent;
  /* background-color:transparent = 투명하게 만듬 */
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  column-rule-color: teal;
  position: absolute;
  z-index: 1;
}

/* .Danche-reserve {
  background-color: teal;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: #ffffff;
  float: right;
  margin-right: 4%;
}
.Danche-reserve-icon {
  margin-top: 10px;
  z-index: 1;
  float: right;
} */

.baro-guide {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  gap: 30px;
}

.baro {
  background-color: gainsboro;
  width: 800px;
  height: 400px;
  border-radius: 30px;
  padding: 30px;
  position: relative;
}
.Baro-brn {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  padding: 10px;
  color: teal;
  border: 2px solid teal;
  display: block;
  font-size: 20px;
  cursor: pointer;
}
.baro-img {
  border-radius: 30px;
  /* display: block; */
  position: absolute;
  /* width:100%; */
  right: 0;
  bottom: 0;
  /* transform: translate(-50%, -50%); */
}
.guides {
  background-color: gainsboro;
  width: 800px;
  height: 400px;
  border-radius: 30px;
  padding: 30px;
}
.guides > strong {
  font-size: 24px;
}
.guide-btn {
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
}
.guide-in > p span {
  display: flex;
}
/* 공지사항 시작 */
.banner-area {
  top: 50px;
}
.announcement {
  display: flex;
  margin: 100px;
  bottom: 50px;
}
.banner-btn {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
.banner {
  background-color: #ffffff;
  font-size: 10px;
  font-weight: 600px;
  font-size: 20px;
  width: 900px;
  height: 300;
  padding-left: 100px;
  padding-top: 100px;
  margin-bottom: 150px;
}
.left-banner h3 {
  font-weight: 900px;
}
.swiper {
  max-width: 1000px;
  overflow: clip;
}

.swiper-in {
  background-color: gainsboro;
  width: 250px;
  height: 300px;
  padding: 30px;
  border-radius: 20px;
  font-size: 9px;
}
.swiper-wrapper {
  display: flex;
  margin: 0;
}

.news {
  background-color: #ffffff;
  border: 2px solid cadetblue;
  border-radius: 30px;
  margin: 10px;
  text-align: center;
  max-width: 50px;
  max-height: 200px;
}

/* 체험안내/ 영산관 안내 */

.banners {
  display: flex;
  border-radius: 60px;
  background-color: teal;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  
}
.banner-in {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 200px;
border-right: 2px solid lime;

  color: #ffffff;
}

/* footer  시작*/
