* {
  box-sizing: border-box;
}
body {
  background-color: #141414;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
}
.puls h1 {
  color: white;
}
.puls p {
  color: white;
}
.puls img {
    border-radius: 20px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}