html {
  font-family: Pretendard;
  word-break: keep-all;
  /* keep-all - 한국어만 다른 것을 쓰면 적용 x */
}
body {
  background-color: #000;
  color: #ffffff;
  margin: 0;
  /* 본 화면에 원래 기본 Margin 8px이 있음
  그래서 없애기 위해 margin 0 줌  */
}
header {
  font-weight: 700;
  padding: 16px;
  position: fixed;
  /*  일반적인 문서에 흐름에 벗어나면서 위치가 고정되어있음 이때는 fixed  */
  top: 0;
  right: 0;
  left: 0;
  /* 끝에서 끝까지 채우기 위해서는 reft, right 둘다 줘야 채워짐 */
  z-index: 1;
  /* 순서만 바꿔줌  */
}
.wrap {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  padding: 32px;
}
.hero {
  position: relative;
}
.bg {
  width: 100%;
  opacity: 0.7;
}
.hero-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* absolute-고정은 되지만 스크롤 움직이면 안따라옴 
    fixed- 스크롤 내려도 따라옴
  */
  /* top: 0;
  right: 0;
  left: 0;
  bottom: 0;  */
  inset: 0;
  /* 위에 4가지 안써도 inset주면 됨 */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  /* (각도), 없으면 (deg,color),  */
  /* 그라데이션- 45deg, darkcyan, coral */
}

.hero-heading > h1 {
  font-weight: 400;
  font-size: 80px;
  color: #ffffff;
  text-align: center;
  margin: -160px 0 0;
}
.small {
  font-size: 48px;
  color: rgb(217, 217, 217, 0.5);
}
.big {
  font-weight: 700;
}
.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 176px;
}
.headline-heading {
  font-weight: 700;
  font-size: 56px;
  margin: 32px 0;
}
.headline-description {
  font-size: 24px;
}
.promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 200 0;
  padding: 80px 180px;
  background-color: #645acd;
}
.promotion h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 24px 0;
}
.promotion p {
  font-size: 24px;
}
.promotion-button {
  border: 1px solid #ffffff;
  padding: 24px;
  border-radius: 16px;
  font-size: 24px;
  color: #ffffff;
  background-color: transparent;
  /* transparent - 투명색 */
  cursor: pointer;
}
.plans-title,
.benefits-title {
  font-weight: 500;
  font-size: 24px;
  margin: 32px 0;
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 120px;
}
.card {
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 56px 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* flex-direction- 주축을 바꿔줌 */
  position: relative;
}
.card h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 16px;
  
}
.card.event h3{

}
.card.event {
  border-color: #645acd;
}
.card.event .event-badge {
  background-color: #645acd;
  position: absolute;
  top: 16px;
  right: 16px;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000;
}
.benefits{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.benefits .wide {
    grid-column:1/3;
    /* grid 는 격자 
    1/3 분수가 아니라 1부터 3까지라는 뜻 */
    grid-column-start: 1;
    grid-column-end: 3;
}